<h2><%= @lense.name %></h2>

<p><%= link_to "Back to lenses", lenses_path %></p>

<p id="price"><%= number_to_currency @lense.price %></p>

<dl>
  <dt class="focal_length">Focal Length</dt>
  <dd class="focal_length"><%= @lense.focal_length %>mm</dd>
  <dt class="apature">Apature</dt>
  <dd class="apature">f/<%= @lense.apature %></dd>
  <%- unless @lense.features.blank? -%>
  <dt class="features">Features</dt>
  <dd class="features"><%= @lense.features %></dd>
  <%- end -%>
</dl>

<div id="description">
  <%= simple_format @lense.description %>
</div>

<div id="add_to_cart">
  <% form_for [:order, @lense.purchase] do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :price %>
    <%= f.hidden_field :quantity %>
    <%= f.hidden_field :purchasable_id %>
    <%= f.hidden_field :purchasable_type %>
    <%= f.submit "Add to cart" %>
  <% end %>
</div>
