<h2>Your Purchases</h2>

<%- unless @order.purchases.blank? -%>
<table>

  <tr>
    <th>Quantity</th>
    <th>Name</th>
    <th>Remove</th>
    <th>Total</th>
  </tr>

  <%- for purchase in @order.purchases -%>
  <tr>
    <td class="quantity"><%= purchase.quantity %></td>
    <td class="name"><%= link_to purchase.name, purchase.purchasable %></td>
    <td class="remove">
    <%- form_for [:order, purchase], :html => {:method => :delete} do |f| -%>
      <%= f.submit "Remove" %>
    <%- end -%>
    </td>
    <td class="sub_total"><%= number_to_currency purchase.sub_total %></td>
  </tr>
  <%- end -%>

  <tr id="agregate">
    <td></td>
    <td></td>
    <td></td>
    <td><%= number_to_currency @order.total %></td>
  </tr>

</table>
<%- end -%>

<a href="/order/shipping_address">Continue to shipping details</a>

