<h2>Shipping</h2>

<% form_for @order.shipping_address do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :line_one %>
    <%= f.text_field :line_one %>
  </p>

  <p>
    <%= f.label :line_two %>
    <%= f.text_field :line_two %>
  </p>

  <p>
    <%= f.label :suburb %>
    <%= f.text_field :suburb %>
  </p>

  <p>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.label :post_code %>
    <%= f.text_field :post_code %>
  </p>

  <p>
    <%= f.label :country %>
    <%= f.text_field :country %>
  </p>

  <p>
    <%= f.submit "Continue" %>
  </p>
<% end %>

