<h2>Billing</h2>

<% form_for @order.billing_address, :url => "/order/billing_address" do |f| %>

  <%= error_messages_for "address", :object => @order.billing_address %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :line_one, "Street address" %>
    <%= f.text_field :line_one %><br />
    <%= f.text_field :line_two %>
  </p>

  <p>
    <%= f.label :suburb %>
    <%= f.text_field :suburb %>
  </p>

  <p>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.label :post_code %>
    <%= f.text_field :post_code %>
  </p>

  <p>
    <%= f.label :country %>
    <%= f.select :country, COUNTRIES %>
  </p>

  <p>
    <%= f.submit "Continue" %>
  </p>

<% end %>

