<h2 id="name"><%= @camera.name %></h1>

<p><%= link_to "Back to cameras", cameras_path %></p>

<p id="price"><%= number_to_currency @camera.price %></p>

<div id="description">
<%= simple_format @camera.description %>
</div>

<div id="add_to_cart">
  <% form_for [:order, @camera.purchase] do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :price %>
    <%= f.hidden_field :quantity %>
    <%= f.hidden_field :purchasable_id %>
    <%= f.hidden_field :purchasable_type %>
    <%= f.submit "Add to cart" %>
  <% end %>
</div>

