<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Administration - <%= HHD::Config.client_name %></title>
    <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls" %>
    <%= active_scaffold_includes %>
    <%= stylesheet_link_tag "admin.css" %>
  </head>
  <body>
    <div id="admin_content">
      <div id="admin_header">
        <h1><%= HHD::Config.client_name %> - Administration</h1>
        <% if admin_signed_in? %>
        <div>Logged in as <strong><%= current_admin.full_name %></strong> (<a href="/admins/sign_out/">Logout</a>)</div>
        <% end %>
      </div>
      <% flash.each do |name, message| %>
        <div id="<%= name %>"><%= message %></div>
      <% end %>
      <div id="admin_left">
        <% if admin_signed_in? %>
        <div id="admin_menu">
          <h2>Navigation</h2>
          <ul>
            <%= cms_navigation %>
            <li>
              <span>Miscellaneous</span>
              <ul>
                <li><a href="/admin/admins/">Administrators</a></li>
                <li><a href="/" target="_blank">View site</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <% end %>
      </div>
      <div id="admin_right">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
